@using Proyecto.ClassAux;
@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var prod = (ProductoAux)Model;
}


<section class="full-width pageContent">
    <section class="full-width text-center" style="padding: 40px 0;">

        <div id="Div-Form-Producto">

            <h2>Registrar Producto</h2>

            <form action="/Producto/Registrar" method="post">

                <div class="form-group">
                    <label for="">Nombre del producto</label>
                    <input type="text" style="margin-left:1%; class="form-control" id="" placeholder="Ingrese nombre" value="@prod.Nombre" name="Nombre">
                    <label class="alert-danger">@Html.ValidationMessage("Nombre")</label>
                </div>


                <div class="form-group">
                    <label for="">Stock del producto</label>
                    <input type="number" style="margin-left:1%; class="" name="Stock" value="1" min="0" max="300" />
                    <label class="alert-danger">@Html.ValidationMessage("Stock")</label>
                </div>

                <div class="form-group">
                    <label for="">Precio del producto</label>
                    <input type="text" style="margin-left:1%; class="form-control" id="" placeholder="Ingrese Precio S./" value="@prod.Precio" name="Precio">
                    <label class="alert-danger">@Html.ValidationMessage("Precio")</label>
                </div>

                <div class="form-group">
                    <label for="">Unidad de medida</label>
                    <select name="UnidadMedida">
                        <option value="@ProductoAux.Unidades.KILO">@ProductoAux.Unidades.KILO</option>
                        <option value="@ProductoAux.Unidades.GALON">@ProductoAux.Unidades.GALON</option>
                        <option value="@ProductoAux.Unidades.UNIDAD">@ProductoAux.Unidades.UNIDAD</option>
                        <option value="@ProductoAux.Unidades.LITROS">@ProductoAux.Unidades.LITROS</option>
                        <option value="@ProductoAux.Unidades.METRO">@ProductoAux.Unidades.METRO</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="">Descripción del producto</label>
                    <textarea class="form-control" style="margin-left:1%; rows="3" name="Descripcion" placeholder="Ingrese una descripción"></textarea>
                </div>

                <button type="submit" class="btn btn-default">Registrar</button>
            </form>

        </div>
</section>
</section>